.lead{
    margin:  30px;

}

.title {
    padding-top: 12%;
    font-family: Cairo;
    font-size: 10.5rem;
    font-weight: 300;
}

.customBackground{
    height: 100%;
    background-image: url('./pictures/background.svg'); 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.loginButton {
    background-color: #50E08A;
    border: none;
    border-radius: 15px;
    width: 180.23px;
    height: 57px;
    margin-right: 2.5%;
    font-family: 'Cairo', sans-serif;
    font-weight: 300;
    font-size: 20px;
  }
  
  .registerButton {
    background-color: #FFDC97;
    border: none;
    border-radius: 15px;
    width: 180.23px;
    height: 57px;
    margin-left: 2.5%;
    font-family: 'Cairo', sans-serif;
    font-weight: 300;
    font-size: 20px;
  }
